.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.App h1 {
  text-align: center;
  color: dodgerblue;
}

button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid dodgerblue;
  background-color: dodgerblue;
  color: white;
  border-radius: 10px;
  margin: 10px auto;
  outline: none;
  transition: all ease 0.3s;
}

button:hover,
button:active {
  background-color: rgb(5, 92, 179);
  border-color: rgb(5, 92, 179);
}
